.user-stats__item
{
    padding: 7px 0;
}

.user-stats__count,
.user-stats__text
{
    display: inline-block;

    vertical-align: top;
}

.user-stats__count
{
    font-size: 16px;

    margin: -2px 5px 0 0;
}

.user-stats__text
{
    color: #777;
}
